<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">初识</h1>

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <div class="title_content">
                <div class="text_content">冯哲奇</div>
                <div class="clear"></div>
            </div>

            <ul class="about">

                <li>
                    <i class="glyphicon glyphicon-user"></i>
                    <label>英文名</label>
                    <span class="value">Tommy</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <label>出生日期</label>
                    <span class="value">1990.03.12</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>目前城市</label>
                    <span class="value">湖北 武汉</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>电子邮箱</label>
                    <span class="value">fengzheqiyx@163.com</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    <label>移动电话</label>
                    <span class="value">(+86) 15527649730</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-bell"></i>
                    <label>Github</label>
                    <span class="value"><a href="#" target="_blank">https://github.com/Tommy-feng</a></span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <label>个人博客</label>
                    <span class="value"><a href="#" target="_blank">http://fengzheqi.com</a></span>
                    <div class="clear"></div>
                </li>

            </ul>


            <div class="title_content">
                <div class="text_content">自我评价</div>
                <div class="clear"></div>
            </div>
            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>
                性格积极乐观，待人友好，具有沟通能力和抗压能力，能够吃苦耐劳;
                对待工作认真热情，有责任心且有学习能力;
                性格随和，乐于与人沟通，优良的团队合作能力，注重团队交流。
            </p>

        </div>
        <!-- End left-wrap -->

        <div class="col-md-6 profile-r">

            <div class="cycle-slideshow">
                <img src="images/img-profile/about_1.jpg" alt="" />
                <img src="images/img-profile/about_2.png" alt="" />
                <img src="images/img-profile/about_3.png" alt="" />
            </div>

        </div>

    </div>

    <div class="clear"></div>


    <!--<div class="row" id="services">-->
        <!--<div class="col-md-12">-->
            <!--<div class="title_content">-->
                <!--<div class="text_content">关于我</div>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->


            <!--<div class="col-md-4 pack-service">-->
                <!--<div class="service">-->
                    <!--<div class="service-icon"><i class="fa fa-tag"></i></div>-->
                    <!--<div class="service-detail">-->
                        <!--<h6>标签</h6>-->
                        <!--<p>从高中到现在，各种标签，“部长”，“小老大”，“阿部”</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 pack-service">-->
                <!--<div class="service">-->
                    <!--<div class="service-icon"><i class="fa fa-cogs"></i></div>-->
                    <!--<div class="service-detail">-->
                        <!--<h6>爱折腾</h6>-->
                        <!--<p>本科电子专业，各种电子产品杀手，从手表、手机、电脑无一幸免。。。</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4 pack-service">-->
                <!--<div class="service">-->
                    <!--<div class="service-icon"><i class="fa fa-arrows-alt"></i></div>-->
                    <!--<div class="service-detail">-->
                        <!--<h6>军事迷</h6>-->
                        <!--<p>爱逛军事网址，收集模型，钟爱各类军事大片</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; End Services &ndash;&gt;-->

    <!--<div class="clear"></div>-->
    <!--<div class="border-list"></div>-->

    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<div class="bottom-p">-->
                <!--<div class="title_content">-->
                    <!--<div class="text_content">教育背景</div>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->

                <!--<div class="panel-group" id="accordion">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">-->
                                    <!--2014.09-至今&nbsp;&nbsp;华中科技大学-->
                                    <!--<i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseOne" class="panel-collapse collapse in">-->
                            <!--<div class="panel-body">-->
                                <!--<i class="fa fa-quote-left"></i>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">-->
                                    <!--2009.09-2013.06 &nbsp;&nbsp;哈尔滨工程大学-->
                                    <!--<i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseTwo" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--<i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">-->
                                    <!--Moving Let Us Help-->
                                    <!--<i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseThree" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--<i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->


    <!--</div>-->
    <!--<div class="clear"></div>-->
</div>
<!-- End .profile -->