<!-- .blog -->
<div id="blog" class="content_2">
    <h1 class="h-bloc">邂逅 - 我的项目</h1><br>

    <div class="col-md-12">
        <div class="row">

            <!-- Page Blog -->
            <div class="col-md-12" id="blog_page">
                <!-- start Page Blog -->
                <section id="blog-page">

                    <!-- Post 1 -->
                    <article id="post-1" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">
                                            <div class="title_content">
                                                <div class="text_content">前端性能监控分析平台</div>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="blog-content">
                                                <p>
                                                    <label>项目描述：</label>对用户各应用系统前端页面进行监控，采集性能数据，进行分析及提供图表展示，并提供优化建议。 <br/>
                                                    <label>本人职责：</label>研发成员。负责沟通确定产品需求，参与系统数据结构设计，参与所有模块功能设计方案制定，基于NodeJS、MongoDB、Express、AngularJS、Bootstrap等技术实现了项目用户管理模块的功能。<br/>
                                                    <label>主要业绩：</label>该性能监控系统定于在2016年4月中下旬部署使用，对实验室开发的所有项目的前端页面进行监控和性能分析。<br/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 1 -->

                    <div class="clear"></div>

                    <!-- Post 2 -->
                    <article id="post-2" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-12 post_media">
                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content">
                                                <div class="text_content">湖北省社会科学联合会评奖系统</div>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="blog-content">
                                                <p>
                                                    <label>项目描述：</label>为高校和全社会社科研究人员的成果进行评奖提供支撑，实现将专家评审和管理人员审核从线下操作转移到线上。 <br/>
                                                    <label>本人职责：</label>项目负责人。负责与社科联沟通协调，确定需求；参与系统的数据结构设计，前端开发规范制定，以及所有模块功能设计方案制定。系统采用Bootstrap、jQuery、artDialog等前端库与框架，完成了门户模块、评审模块、专家管理和系统模块的前端代码实现。<br/>
                                                    <label>主要业绩：</label>该网站将于2016年3月上旬交付使用，并向全社会提供社科成果申报评奖服务。<br/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 2 -->

                    <div class="clear"></div>


                    <!-- Post 3 -->
                    <article id="post-3" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">

                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content">
                                                <div class="text_content">中国高校社会科学管理数据库</div>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="blog-content">
                                                <p>
                                                    <label>项目描述：</label>面向全国所有高校社科研究人员和各级社科管理机构的大型Java数据库及应用管理系统。<br/>
                                                    <label>本人职责：</label>研发成员。负责系统维护，参与扩展功能设计方案制定，实现移动web模块的前端设计与开发，完成了统计分析模块在移动端的实现。<br/>
                                                    <label>主要业绩：</label>该管理信息系统已经连续4年为教育部社科司提供社科项目数据处理与管理服务。<br/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 3 -->

                    <div class="clear"></div>

                    <!-- Post 4 -->
                    <article id="post-4" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">

                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content">
                                                <div class="text_content">社会科学研究项目业务管理系统</div>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="blog-content">
                                                <p>
                                                    <label>项目描述：</label>服务于教育部社科管理部门的社科专家和项目管理系统。<br/>
                                                    <label>本人职责：</label>研发人员。负责系统维护，系统扩展功能的设计方案制定，独立完成系统前端样式的整体改版，完成项目模块、统计分析模块前端开发，基于jQuery、Highcharts、Ztree等前端代码库及UI实现实现了统计分析图表展示功能、项目管理等功能。<br/>
                                                    <label>主要业绩：</label>该系统已经连续3年为教育部社科司提供服务。<br/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 4 -->

                    <div class="clear"></div>

                    <!-- Post 5 -->
                    <article id="post-5" class="blog-article">

                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-12 post_media">

                                    <div class="post-format-icon">
                                        <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 post_content">
                                    <div class="content post_format_standart">
                                        <div class="top_c ">

                                            <div class="title_content">
                                                <div class="text_content">华中科技大学人文社会科学处网站</div>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="blog-content">
                                                <p>
                                                    <label>项目描述：</label>面向校内外师生和社科研究人员的社科研究资讯门户网站。<br/>
                                                    <label>本人职责：</label>研发人员。负责网站数据结构设计，了解并撰写系统需求，参与网站中各个模块功能设计与开发，网站基于Bootstrap、DataTable、FCKeditor等前端框架和插件实现了门户首页、栏目及新闻等模块。<br/>
                                                    <label>主要业绩：</label>该网站已于2014年12月中下旬交付使用，为全校师生服务。<br/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </article>
                    <!-- End Post 5 -->

                </section>

                <!-- End Page Blog -->
            </div>
    </div>
</div>
<!-- End .blog -->